.listsList-title {
  text-align: center;
  margin: 50px 30% 50px 30%;
  color: rgb(28, 53, 79);
}

.listsList-item {
  display: flex;
  align-items: center;
  margin: 0 30%;
  padding: 8px 10% 8px 13%;
  background-color: blanchedalmond;
}

.listsList-navlink {
  text-decoration: none;
}

.listsList-name {
  text-align: center;
  text-decoration: none;
  margin: 0 50px 0 10px;
  color: rgb(28, 53, 79);
  cursor: pointer;
  transition: color 0.3s ease;
}

.listsList-name:hover {
  color: rgb(39, 124, 124);
}

.listsList-trashIcon {
  color: rgb(28, 53, 79);
  cursor: pointer;
  transition: color 0.3s ease;
}

.listsList-trashIcon:hover {
  color: red;
}

.listsList-noList {
  margin: 0 5px 0 0;
  color: rgb(28, 53, 79);
  flex-direction: column;
  min-height: 90vh;
}

@media only screen and (max-width: 1920px) {
  .listsList-item {
    margin: 3% 20%;
    padding: 8px 10% 8px 25%;
  }
}

@media only screen and (max-width: 768px) {
  .listsList-item {
    margin: 3% 19%;
    padding: 8px 10%;
  }
}

@media only screen and (max-width: 480px) {
  .listsList-item {
    flex-direction: column;
    align-items: flex-start;
    margin: 0;
  }

  .listsList-name {
    margin: 0;
  }
}

.listsList-backBtn {
  text-decoration: none;
  color: white;
}

.listsList-btn {
  margin: 50px 10px 0px;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  background-color: rgb(39, 124, 124);
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.listsList-btn:hover {
  background-color: rgb(146, 197, 109);
}

.listsList-btn a {
  color: inherit;
  text-decoration: none;
}