.homepage-cardContainer {
  margin: auto;
  flex-direction: column;
  min-height: 90vh;
}

.homepage-title {
  color: rgb(28, 53, 79);
  margin: 10px 0 0 0;
}

.homepage-text {
  color: rgb(28, 53, 79);
  text-align: center;
  margin: 20px 0;
}

.homepage-img {
  max-width: 40%;
  height: auto;
}

.homepage-btn {
  margin: 20px 20px 0;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  background-color: rgb(39, 124, 124);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.homepage-btn:hover {
  background-color: rgb(146, 197, 109);
}

.homepage-signupBtn, .homepage-loginBtn {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  .homepage-cardContainer {
    margin: auto;
  }
}

