.homepage-container {
  margin: 7% 0 50%;
}

.homepage-title {
  color: rgb(28, 53, 79);
}

.homepage-text {
  color: rgb(28, 53, 79);
  text-align: left;
  margin: 35px 32% 0px;
}

.homepage-img {
  max-width: 40%;
  height: auto;
}

