div.card-img-overlay {
  padding: 5px;
}

div.card.text-white {
  margin: 20px 60px;
  height: 450px;
  padding: 20px 0;
  background-color: blanchedalmond;
  /* border: none; */
}

.plantDetails-dataContainer {
  margin: 5px;
}

.plantDetails-title {
  text-align: center;
  margin: 50px 30% 50px 30%;
  color: rgb(28, 53, 79);
}

.plantDetails-img {
  margin: 0 0 0 55%;
  max-width: 40%;
  height: 400px;
  border: solid 2px rgb(39, 124, 124);
}

.plantDetails-info {
  text-align: left;
  margin: 10px 0 0 18%;
  color: rgb(28, 53, 79);
}

.plantDetails-btn {
  margin: 20px 10px;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  background-color: rgb(39, 124, 124);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plantDetails-btn:hover {
  background-color: rgb(146, 197, 109);
}

.plantDetails-backBtn {
  text-decoration: none;
  color: white;
}

.plantDetails-listLabel {
  margin: 10px 10px 5px 10px;
}

.plantDetails-listOptions {
  cursor: pointer;
}

.plantDetails-loading {
  margin: 0 5px 0 0;
  color: rgb(28, 53, 79);
}

.loading-spinner {
  width: 75px;
  height: 75px;
  margin: 50px 0 0 10px;
  color: rgb(28, 53, 79);
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media only screen and (max-width: 768px) {
  .plantDetails-info {
    margin: 3% 10%;
  }
  div.card.text-white {
    margin: 20px 20px;
    height: 550px;
  }
}
