.plantDetails-title {
  text-align: center;
  margin: 35px 32% 30px;
  color: rgb(28, 53, 79);
}

/* .plantDetails-imgContainer {
  text-align: left;
} */

.plantDetails-img {
  max-width: 40%;
  height: auto;
  margin: 5px 30%;
}

.plantDetails-info {
  text-align: left;
  margin: 20px 30%;
  color: rgb(28, 53, 79);
}

.plantDetails-btn {
  margin: 20px 10px 5px 10px;
  border: none;
  border-radius: 6px;
  padding: 5px 10px;
  background-color: rgb(39, 124, 124);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.plantDetails-btn:hover {
  background-color: rgb(146, 197, 109);
}

.plantDetails-listLabel {
  margin: 10px 10px 5px 10px;
}

.plantDetails-listOptions {
  cursor: pointer;
}

.plantDetails-loading {
  margin: 0 5px 0 0;
  color: rgb(28, 53, 79);
}

.loading-spinner {
  width: 75px;
  height: 75px;
  margin: 50px 0 0 10px;
  color: rgb(28, 53, 79);
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}